<?xml version='1.0' encoding='UTF-8'?>
<plugin id="cordova-plugin-android-drawable-icon" version="1.0.2" xmlns="http://apache.org/cordova/ns/plugins/1.0">
    <name>Android Drawable Icons</name>
    <author>Evan Wieland</author>
    <description>Cordova plugin to assist in using drawable icons in an Android Cordova application.</description>
    <keywords>drawable, icons, android</keywords>
    <license>MIT</license>
    <engines>
        <engine name="cordova" version=">=3.0.0"/>
    </engines>
    <platform name="android">
        <!-- Currently does not work.
        <edit-config file="AndroidManifest.xml" mode="merge" target="/manifest">
            <application android:icon="@mipmap/ic_launcher" android:roundIcon="@mipmap/ic_launcher_round" />
        </edit-config>
        -->
        
        <config-file parent="/manifest/application" target="AndroidManifest.xml" mode="merge">
            <meta-data android:name="com.google.firebase.messaging.default_notification_icon" android:resource="@drawable/ic_stat_name" />
            <meta-data android:name="com.google.firebase.messaging.default_notification_color" android:resource="@color/colorAccent" />
        </config-file>
    </platform>
</plugin>
